@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');

*{
  margin:0;
  font-family: 'Readex Pro',sans-serif;
  /* box-sizing: border-box; */
  /* background-color: #dadbd3; */
}

.app{
  display: grid;
  place-items: center;
  height:100vh;
  background-color: #dadbd3;
}

